        .container {
            margin-top: 50px;
            margin-left: 15%;
            margin-right: 15%;
            background-color: white;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px;
        }

        table {
            background-color: gray;
            border-spacing: 0px;
        }

        th {
            border: 1px solid black;
            border-bottom: 3px solid black;
            margin: 0px;
            min-width: 23%;
            margin-right: auto;
            margin-left: auto;


        }

        .tcorner {}




        td {
            padding-left: 10px;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        .timecol {
            text-align: center;
            min-width: 50px;
            font-weight: bold;
            border-color: black;
            border-right: 3px solid black;
            padding: 10px;
        }